{% extends "base.html" %} {% block content %}


<div>
    <div class="upload">
        <form action="/wine">
            <label for="location">Location:</label>
            <input type="text" id="location" name="location"><br><br>
            <label for="year">Year:</label>
            <input type="number" min="1981" max="2022" step="1" value="2022" id="year" name="year"><br><br>
            <input type="submit" value="Read between the wines...">
        </form>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        </form>
    </div>

    <div class="container">
        <!-- <p id="poetry" class="poetry row">{{ tags }}</p> -->
        <p id="poem" class="poetry row">{{ quality }}</p>
        <p id="poem" class="poetry row">{{ price }}</p>
    </div>
</div>

{% endblock %}
